@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.woff') format('woff'),
    url('../fonts/AnyConv.com__AmaticSC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Bold.woff') format('woff'),
    url('../fonts/AnyConv.com__AmaticSC-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.woff') format('woff'),
    url('../fonts/AnyConv.com__Oswald-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.woff') format('woff'),
    url('../fonts/AnyConv.com__Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff') format('woff'),
    url('../fonts/AnyConv.com__Oswald-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-SemiBold.woff') format('woff'),url('../fonts/AnyConv.com__Oswald-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff.woff') format('woff'),
    url('../fonts/AnyConv.com__Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}