// переменные с самыми популярными цветами

$text: #263128;
$white: #f5f5f5;
$green: rgb(210, 223, 214);
$dark-green: #71856e;
$red: #c04d4d;
$blue: #3e84ac;
$yellow: #be9f36;
$light-blue: rgba(216, 230, 238, 0.9);
$grey: #919191;